!.env.example
*.log
*.swp
*.tsbuildinfo
.DS_Store
.env
.env.*
.idea/
.next/
.pnpm-store/
.turbo/
.vscode/
build/
coverage-int
coverage/
dist/
node_modules/
out/
playwright-report/
test-results/
.dev-stack/
.claude/
